Course Assignment/WebContent/wsdl/TrackPart.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="trackPart">
    <complexType>
     <sequence>
      <element name="carVin" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="trackPartResponse">
    <complexType>
     <sequence>
      <element name="trackPartReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="trackPartRequest">

      <wsdl:part element="impl:trackPart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="trackPartResponse">

      <wsdl:part element="impl:trackPartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TrackPart">

      <wsdl:operation name="trackPart">

         <wsdl:input message="impl:trackPartRequest" name="trackPartRequest">

       </wsdl:input>

         <wsdl:output message="impl:trackPartResponse" name="trackPartResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TrackPartSoapBinding" type="impl:TrackPart">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="trackPart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="trackPartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="trackPartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TrackPartService">

      <wsdl:port binding="impl:TrackPartSoapBinding" name="TrackPart">

         <wsdlsoap:address location="http://localhost:8080/Course_Assignment/services/TrackPart"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
